.box {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.board-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

